/*
    como posicionar las propiedades que se le dan al selector:
    1. posicionamiento
    2. modelo de caja
    3. tipografia
    4. visuales
    5. otros
*/

/*Variables que utilizaremos en el curso */
:root{
    /*COLORES*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}

/*Globales*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*reseteamos el valor de la fuente para poder usar rem adecuadamente*/
    font-family: 'DM sans', sans-serif; /*como en la mayoría de las letras se usa esta fuente mejor se marca como global */
}
/*h1{
    font-weight: bold;
}*/
/*parte del header*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px; /*porque la cajita parece cuadrada :V */
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%); /*al parecer el degradado no funciona con variables, a no si solo que no las nombre como debía jajaj*/
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;/*no es necesario que mande a llamar esta clase pues ya en el padre lo ando acomodando todo, asi no lo hizo el profe :V*/
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    text-align: center;/*no se esta centrando ya?*/
}
.header__title-container h1{
    font-size: 2.4rem; /*recordar que estos son 24px*/
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p{
    margin-top: 25px; /*que facil es usar rem cuando lo tienes bien definido jaja */ 
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}