/*
    como posicionar las propiedades que se le dan al selector:
    1. posicionamiento
    2. modelo de caja
    3. tipografia
    4. visuales
    5. otros
*/

/*Variables que utilizaremos en el curso */
:root{
    /*COLORES*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}

/*Globales*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*reseteamos el valor de la fuente para poder usar rem adecuadamente*/
    font-family: 'DM sans', sans-serif; /*como en la mayoría de las letras se usa esta fuente mejor se marca como global */
}